<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.laprasdrum.disconnectvpn</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>9199FD77-4902-4EC1-BB29-5226446B3CD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AD47548-0269-4C54-A36A-3845EABD2B9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>laprasdrum</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>VPN disconnect</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vpn disconnect</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>VPN disconnect</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9199FD77-4902-4EC1-BB29-5226446B3CD5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>scutil --nc list | grep "Connected" | cut -d "\"" -f2 | xargs -I{} networksetup -disconnectpppoeservice "{}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7AD47548-0269-4C54-A36A-3845EABD2B9B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Disconnect VPN.</string>
	<key>uidata</key>
	<dict>
		<key>7AD47548-0269-4C54-A36A-3845EABD2B9B</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>9199FD77-4902-4EC1-BB29-5226446B3CD5</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://note.com/laprasdrum</string>
</dict>
</plist>
